.loader {
  width: 100vw;
  height: 100vh;
}

.loader-clip {
  width: 100vw;
  height: 33.3vh;
  position: absolute;
  overflow: clip;
  z-index: 1000;
}

.clip-top {
  top: 0;
  background: #edc9af;
  clip-path: inset(0 0 0 0);
}

.clip-bottom {
  bottom: 0;
  background: #edc9af;
  clip-path: inset(0 0 0 0);
}

.clip-center {
  position: relative;
  width: 100vw;
  height: 33.3vh;
  overflow: hidden;
  top: 33.3vh;
}

.marquee {
  position: absolute;
  top: 200%;
  left: 50%;
  width: 200vw;
  transform: translate(-50%, -50%);
  color: white;
  mix-blend-mode: difference;
  font-size: 13vw;
}

.marquee-container {
  width: 100%;
  padding-top: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Moresby";
}

.containers {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  display: flex;
  flex-direction: column;
  z-index: 1;
  overflow: hidden;
  text-transform: uppercase;
  justify-content: space-between;
  font-size: 14px;
  font-family: "Neue Montreal";
}

.containers .nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 2rem 4rem;
}

.nav-item a {
  text-decoration: none;
  color: #000;
}

.nav-item a:not(:last-child) {
  padding-right: 4rem;
}

/* .nav-item a:nth-last-child(1){
  padding: 7px 18px;
  position: relative;
  border: 1px solid #000;
  border-radius: 50px;
  overflow: hidden;
}

.nav-item a:nth-last-child(1) #black{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  background-color: #000000;
  transition: left 0.5s ease;
}

.nav-item a:nth-last-child(1) h5{
  font-size: 10px;
  font-weight: 100;
  position: relative;
  z-index: 99;
}

.nav-item a:nth-last-child(1):hover #black{

  left: 0;

} */

.p-stoke {
  -webkit-text-stroke: 1px #7b3f00;
  color: #efdecd;
}


  @keyframes fadeIn {
    from { opacity: 0;}
    to { opacity: 1;}
  }
  .animate-fade-in {
    animation: fadeIn 1.5s ease-in-out;
  }

  .aboutmeSection{
    border-radius: 10px;
  }

  .aboutme_section::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-top: 2px solid #7b3f00;
    border-right: 2px solid #7b3f00;
    animation: border-top-right 3s infinite alternate;
  }

  .aboutme_section::after{
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    border-bottom: 2px solid #7b3f00;
    border-left: 2px solid #7b3f00;
    animation: border-bottom-left 3s infinite alternate;
  }

  @keyframes border-top-right{
    0%{
      width: 0px;
       height: 0px;
      }
      25%{
        width: 100%;
        height: 0px;
      }
      50%{
        width: 100%;
        height: 100%;
      }
    100%{
      width: 100%;
      height: 100%;
    }
  }

  @keyframes border-bottom-left{
    0%{
      width: 0px;
       height: 0px;
       opacity: 0;
      }
      50%{
        width: 0px;
        height: 0px;
        opacity: 0;
      }
      50.1%{
        width: 0px;
        height: 0px;
        opacity: 1;
      }
      75%{
        width: 100%;
        height: 0px;
        opacity: 1;
      }
    100%{
      width: 100%;
      height: 100%;
      opacity: 1;
    }
  }

  .aboutme_btn:hover{
    color: white;

  }
  .aboutme_btn::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #7b3f00;
    border-radius: 9px;
    z-index: -1;
    transition: transform 0.5s;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5,1.6,0.4,0.7);
    transform: scaleX(0);

  }

  .aboutme_btn:hover::before{
    transform: scaleX(1);
    
  }
